.wizard {
    /* height: 100vh; */
    width: 100vw;
    /* background-color: #f5f5f5; */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.formTitle {
    margin-bottom: 40px;
}

.wizardContainer {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.stepper {
    margin-bottom: 40px;
}

.stepContent {
    margin: 20px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}